body {
    
}

ul > li {
    display: inline;
    float: right;
    margin-right: 1%;
}

li > a {
    color: black;
}

 a:hover {
    color: red;
 }

 h1 {
    color: #FFD700;
 }

h2 {
    text-align: center;
    margin-top: 5%;
}

#text-box {
    text-align: center;
}


.image-container{
    margin-top: 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

img {

    width: 300px;
    height: 300px;
}

img:hover {
    opacity: 0.5;
}